.about {
  display: flex;
  width: 100%; 
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; 
  background-color: #F0FFFF;
}

.about h2 {
  text-align: center;
  background: rgb(83, 108, 140);
  font-size: 30px; 
  color: #fff; 
}

.about img {
  height: 400px;  
  display: block;
  margin-top: 3%; 
  margin-left: auto;
  margin-right: auto;
}

.headshot {
  border-radius: 50%;
}

.about p {
  text-align: center;
  background-color: #F0FFFF;
  color:rgb(36, 62, 83);
  height: 100%;
  font-size: 18px; 
  line-height: 22px; 
  padding-right: 3%; 
  padding-left: 3%; 
  padding-top: 3%;
  padding-bottom: 4%; 
}

figure {
  text-align: right; 
  padding: 2%; 
  color:#fff;
  font-size: 50px; 
}

@media screen and (max-width: 960px) {
  figure {
    font-size: 30px; 
  }
}

@media screen and (max-width: 768px) {
  figure {
    font-size: 15px; 
  }
}