.services {
  background-color: #F0FFFF;
  position: relative; 
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33333333333333%;
}

.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

.services h3 {
  left: 0;
  right: 0;
  background: rgb(83, 108, 140);
  font-size: 30px; 
  color: #fff; 
  position: absolute;
  top: 0;
}

.services h1 {
  color:rgb(36, 62, 83);
  position: absolute; 
  left: 0;
  right: 0;
  margin-top: -12%;
  font-size: 32px;
}

.services p {
  color:rgb(36, 62, 83);
  position: absolute; 
  left: 0;
  right: 0;
  margin-top: -8%;
  font-size: 16px;
}

.commonBorder {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: auto; 
}

.services__box {
  padding: 40px;
  background:rgb(36, 62, 83);
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
}
.services__box:hover {
  background: #ff4a57;
}
.commonIcons {
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}
.services__box:hover .commonIcons {
  color: #fff;
}
.services__box-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services__box-p {
  font-size: 14px;
  color: #dfdfdf;
}


@media screen and (max-width: 960px) {
  .services h1 {
    margin-top: -20%; 
  }
}

@media screen and (max-width: 768px) {
  .services h1 {
    margin-top: -25%;
  }
}